In [1]:
import pandas as pd

res = pd.read_excel("cnn_res_df.xlsx")
param = pd.read_excel("cnn_param_df.xlsx")

In [2]:
def overall(row):
    
    score = (row['test_accuracy'] * row['f1'] * row['auc_score']) / (row['test_loss'])
    
    return score
    
res["Score"] = res.apply(overall,axis=1)

In [3]:
min_row_index = res['Score'].idxmax()
best_train_index = res.loc[min_row_index]['Train Index']

In [5]:
res[res['Train Index'] == best_train_index]

,Train Index,train_accuracy,test_accuracy,train_loss,test_loss,f1,auc_score,training_time,Score
656,657,0.968649,0.915538,0.158461,0.199237,0.891546,0.974533,169.459139,3.992525

In [6]:
param[param['Train Index'] == best_train_index]

,Train Index,remove_stop_words,remove_punctuations,to_lower,vocab_size,embedding_dim,sentence_length_threshold,learning_rate
656,657,False,False,False,20000,64,29,0.00005