import pandas as pd

res_1 = pd.read_excel("dense_res_df_1.xlsx")
param_1 = pd.read_excel("dense_param_df_1.xlsx")

res_2 = pd.read_excel("dense_res_df_2.xlsx")
param_2 = pd.read_excel("dense_param_df_2.xlsx")

res_2['Train Index'] = res_2['Train Index'] + res_1['Train Index'].max()
param_2['Train Index'] = param_2['Train Index'] + res_1['Train Index'].max()

res = pd.concat([res_1,res_2])
param = pd.concat([param_1,param_2])

res = res.drop_duplicates().reset_index(drop=True)
param = param.drop_duplicates().reset_index(drop=True)

res.to_excel("dense_res_df.xlsx", index=False)
param.to_excel("dense_param_df.xlsx", index=False)

In [1]:
import pandas as pd

cnn_res = pd.read_excel("cnn_res_df.xlsx")
cnn_param = pd.read_excel("cnn_param_df.xlsx")

lstm_res = pd.read_excel("lstm_res_df.xlsx")
lstm_param = pd.read_excel("lstm_param_df.xlsx")

dense_res = pd.read_excel("dense_res_df.xlsx")
dense_param = pd.read_excel("dense_param_df.xlsx")

def overall(row):
    
    score = (row['test_accuracy'] * row['f1'] * row['auc_score']) / (row['test_loss'])
    
    return score

# CNN BEST PARAMETERS

In [2]:
cnn_res["Score"] = cnn_res.apply(overall,axis=1)
min_row_index = cnn_res['Score'].idxmax()
best_train_index = cnn_res.loc[min_row_index]['Train Index']

In [3]:
cnn_res[cnn_res['Train Index'] == best_train_index]

,Train Index,train_accuracy,test_accuracy,train_loss,test_loss,f1,auc_score,training_time,Score
656,657,0.968649,0.915538,0.158461,0.199237,0.891546,0.974533,169.459139,3.992525

In [4]:
cnn_param[cnn_param['Train Index'] == best_train_index]

,Train Index,remove_stop_words,remove_punctuations,to_lower,vocab_size,embedding_dim,sentence_length_threshold,learning_rate
656,657,False,False,False,20000,64,29,0.00005

# LSTM BEST PARAMETERS

In [5]:
lstm_res["Score"] = lstm_res.apply(overall,axis=1)
min_row_index = lstm_res['Score'].idxmax()
best_train_index = lstm_res.loc[min_row_index]['Train Index']

In [6]:
lstm_res[lstm_res['Train Index'] == best_train_index]

,Train Index,train_accuracy,test_accuracy,train_loss,test_loss,f1,auc_score,training_time,Score
467,468,0.9103,0.92392,0.157927,0.203697,0.904233,0.977121,19.611026,4.007538

In [7]:
lstm_param[lstm_param['Train Index'] == best_train_index]

,Train Index,remove_stop_words,remove_punctuations,to_lower,vocab_size,embedding_dim,sentence_length_threshold,learning_rate
467,468,False,True,False,10000,4,35,0.001

# DENSE BEST PARAMETERS

In [8]:
dense_res["Score"] = dense_res.apply(overall,axis=1)
min_row_index = dense_res['Score'].idxmax()
best_train_index = dense_res.loc[min_row_index]['Train Index']

In [9]:
dense_res[dense_res['Train Index'] == best_train_index]

,Train Index,train_accuracy,test_accuracy,train_loss,test_loss,f1,auc_score,training_time,Score
665,666,0.947776,0.945519,0.094937,0.141352,0.926083,0.988365,215.626766,6.122585

In [10]:
dense_param[dense_param['Train Index'] == best_train_index]

,Train Index,remove_stop_words,remove_punctuations,to_lower,vocab_size,embedding_dim,sentence_length_threshold,learning_rate
665,666,False,False,False,30000,128,29,0.0001